# Default owners
* @trustchainx-sec

# Security-sensitive paths
.github/workflows/* @trustchainx-sec
.github/*              @trustchainx-sec
CODEOWNERS             @trustchainx-sec
SECURITY.md            @trustchainx-sec
.github/dependabot.yml @trustchainx-sec
.github/codeql-analysis.yml @trustchainx-sec

# Docs & readme (optional)
README.md              @trustchainx-global
docs/**                @trustchainx-global
